@font-face {
    font-family: 'quentinregular';
    src: url('fonts/quentin-webfont.woff2') format('woff2'),
         url('fonts/quentin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hand-written,
.content-column-content .hand-written {
    font-family: 'quentinregular', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    line-height: 1em;
    color: #111;
    margin-bottom: 0.2em;
}
