.elevator-hidden {
  display: none !important;
}

@font-face {
  font-family: 'quentinregular';
  src: url('fonts/quentin-webfont.woff2') format('woff2'),
    url('fonts/quentin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.box-masonry-category .post-list-category {
  font-style: italic;
  margin-bottom: 0;
}

.hand-written,
.content-column-content .hand-written {
  font-family: 'quentinregular', Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  line-height: 1em;
  color: #111;
  margin-bottom: 0.2em;
}

.category,
.tag {
  font-style: italic;
}

.content-column-content details {
  margin-bottom: 1em;
}

.content-column-content summary {
  color: #ef5285;
  font-family: 'Unica One', cursive;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  outline-color: #ccc;
}

.content-column-content summary::marker {
  color: transparent;
}

.content-column-content details[open] summary {
  margin-bottom: 0.6em;
}

.details-opened {
  width: 12px;
  margin: auto 2px;
}

.details-closed,
.content-column-content details[open] .details-opened {
  display: none;
}

.content-column-content details[open] .details-closed {
  display: inline;
}

.splide__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.4em;
  padding: 0.6em 0;
  margin-bottom: 10px;
}

.splide__controls .splide__arrow {
  position: static;
  transform: none;
  background-color: #ef5285;
  height: 30px;
  width: 30px;
  opacity: 0.5;
  flex-shrink: 0;
}

.splide__controls .splide__arrow svg {
  fill: #fff;
}

.splide__controls .splide__arrow:hover:not(:disabled) {
  background-color: #ef5285;
  opacity: 1;
}

.splide__controls .splide__pagination {
  position: static;
  bottom: auto;
  padding: 0 0.4em;
}

.splide__pagination__page {
  background-color: #ef5285;
  opacity: 0.5;
}

.splide__pagination__page.is-active,
.splide__pagination__page:hover {
  background-color: #ef5285;
  opacity: 1;
  transform: scale(1.4);
}

/* Iubenda Cookie Banner - I need to overwrite the font */
.iubenda-cs-content #iubenda-cs-paragraph .iub-p,
.iubenda-cs-content #iubenda-cs-paragraph .iub-p a,
#iubenda-cs-banner .iubenda-cs-content .iubenda-cs-opt-group-custom button,
#iubenda-cs-banner .iubenda-cs-opt-group button.iubenda-cs-btn-primary {
  font-family: 'Vollkorn', serif !important;
}

.iubenda-cs-content .iub-toggle-checkbox label {
  margin-bottom: 0px;
}

#iubenda-cs-banner .iubenda-cs-content .iub-toggle-checkbox span {
  background-color: inherit !important;
  font-family: 'Unica One', cursive !important;
}
