{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <article class="content-column-content">
          <h1>{{ .Title }}</h1>
          <div class="col-xs-12 col-sm-6 col-md-6">
            {{ partial "subscribe_form.html" . }}
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            {{ .Content }}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
{{ end }}
