<script type="text/javascript">
    const policyMap = { 'en-GB': 53426765, 'de': 13490983 };
    let preferredLanguage = 'en-GB';
    if ((navigator.languages[0] || navigator.language).startsWith("de")) {
        preferredLanguage = 'de';
    }

    const config = {
        siteId: 2228741,
        cookiePolicyId: policyMap[preferredLanguage],
        lang: preferredLanguage,
        storage: {
            useSiteId: true,
        },
    };

    var _iub = _iub || [];
    _iub.csConfiguration = config;
</script>
<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/2228741.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
