<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {{ if .Params.social.title }}{{ .Params.social.title }} | {{ .Site.Params.shortTitle }}{{ else }}{{ .Site.Params.title }}{{ end }}
</title>
{{ if .Params.redirect }}<meta http-equiv="Refresh" content="0; url='{{ .Params.target }}'" />{{ end }}
<meta name="description" content="{{ if .Params.social.description }}{{ .Params.social.description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ .Permalink }}"/>
{{ if eq .Params.noindex true }}<meta name="robots" content="noindex" />{{ end }}
<meta name="robots" content="index, follow" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Unica+One|Vollkorn:400,400i,700,700i&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
  crossorigin="anonymous">
<link rel="stylesheet" href="{{ "/css/main.css" }}">
<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" }}">
<link rel="stylesheet" href="{{ "/css/owl.carousel.css" }}">
<link rel="stylesheet" href="{{ "/css/owl.theme.css" }}">
<link rel="stylesheet" href="{{ "/css/custom.css" }}">

{{ `<!-- Open Graph -->` | safeHTML }}
<meta property="og:type" content="{{ if .IsHome }}blog{{ else }}article{{ end }}"/>
<meta property="og:title" content="{{ if .Params.social.title }}{{ .Params.social.title }} | {{ .Site.Params.shortTitle }}{{ else }}{{ .Site.Params.title }}{{ end }}"/>
<meta property="og:url" content="{{ .Permalink }}"/>
<meta property="og:description" content="{{ if .Params.social.description }}{{ .Params.social.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
<meta property="og:image" content="{{ .Site.BaseURL }}{{ if and (isset .Params "image") .Params.image }}{{ .Params.image }}{{ else }}img/social-main-logo.jpg{{ end }}"/>
<meta property="og:site_name" content="{{ .Site.Params.shortTitle }}"/>
{{ if .IsPage }}
{{ $datePublished := .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}
{{ $dateModified := .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}
<meta property="article:published_time" content="{{ $datePublished }}"/>
<meta property="article:modified_time" content="{{ $dateModified }}"/>
<meta property="article:author" content="{{ .Site.Params.author }}"/>
{{ end }}

{{ `<!-- Twitter -->` | safeHTML }}
<meta property="twitter:card" content="summary"/>
<meta property="twitter:title" content="{{ if .Params.social.title }}{{ .Params.social.title }} | {{ .Site.Params.shortTitle }}{{ else }}{{ .Site.Params.title }}{{ end }}"/>
<meta property="twitter:url" content="{{ .Permalink }}"/>
<meta property="twitter:description" content="{{ if .Params.social.description }}{{ .Params.social.description }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
<meta property="twitter:image" content="{{ .Site.BaseURL }}{{ if and (isset .Params "image") .Params.image }}{{ .Params.image }}{{ else }}img/social-main-logo.jpg{{ end }}"/>

<!-- Favicon -->
<link rel="icon" type="image/jpeg" href="{{ "/img/favicon.jpg" }}">

<!-- JSON-LD structured data -->
{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "description": {{ if .Params.social.description }}{{ .Params.social.description | jsonify }}{{ else }}{{ .Summary | jsonify }}{{ end }},
  "image": "{{ .Site.BaseURL }}{{ if and (isset .Params "image") .Params.image }}{{ .Params.image }}{{ else }}img/social-main-logo.jpg{{ end }}",
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Params.shortTitle | jsonify }},
    "url": "{{ .Site.BaseURL }}"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
}
</script>
{{ end }}

{{ if not .Site.IsServer }}
  {{ if site.Config.Services.GoogleAnalytics.ID }}
    {{ with site.Config.Services.GoogleAnalytics.ID }}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ . }}');
      </script>
    {{ end }}
  {{ end }}
{{ end }}
