<div id="modal_image" class="modal">
    <span class="close">&times;</span>
    <div class="image-placeholder">
        <img class="modal-content" id="img_placeholder">
    </div>
</div>

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .image-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .modal-content {
        animation-name: zoom;
        animation-duration: 0.6s;
        margin: auto;
        display: block;
        max-height: 85%;
        max-width: 85%;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>

<script>
    var modal = document.getElementById('modal_image');
    var img = document.querySelectorAll('.content-column-content img');
    var modalImg = document.getElementById('img_placeholder');
    var closeIcon = document.querySelector('.close');

    function addEventListenerList(list, event, fn) {
        for (var i = 0, len = list.length; i < len; i++) {
            list[i].addEventListener(event, fn, false);
        }
    }

    modal.addEventListener('click', closeModalImage, false);

    addEventListenerList(img, 'click', function () {
        modal.style.display = 'block';
        modalImg.src = this.src;

        modal.addEventListener('click', closeModalImage, false);
    });


    function closeModalImage () {
        modal.style.display = 'none';

        modal.removeEventListener("click", closeModalImage, false);
    }
</script>