<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 masonry-item">
  <div class="box-masonry">
    {{ if and (isset .Params "image") .Params.image }}
    <a href="{{ .Permalink }}" title="{{ .Title }}" class="box-masonry-image">
      <img src="/{{ .Params.image }}" alt="{{ .Title }}" class="img-responsive">
    </a>
    {{ end }}
    {{ if eq .Params.showonlyimage true }}
      <div class="box-masonry-hover-text-header">
    {{ else }}
      <div class="box-masonry-text">
        {{ end }}
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <hr>
        <div class="box-masonry-description text-justify">
          <p>
            {{ if .Description }}
              {{ .Description }}
            {{ else }}
              {{ .Summary }}
            {{ end }}
          </p>
        </div>
        <hr>
        <div class="box-masonry-category text-justify">
          <p class="post-list-category text-center">
              <a href="/category/{{ .Params.category | urlize }}">{{ .Params.category }}</a>
          </p>
        </div>
      </div>
  </div>
</div>